
.container_head{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.two-content{

    display:grid;
    grid-template-columns: auto auto auto auto;
}

#sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 80%; /* Full height */
    position: absolute; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    
}

#sidebar button{
    margin: 10px 0;
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    width: 100px;
}


#sidebar a{
    display: block;
    
}


#task-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 190px;
    top: 80px;
    font-size:12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    width: 50%;
    background-color: #f1f1f1;
    height: 80%; /* Full height */
    border: 2px black groove;
    
}

.h4-content{
    text-align: center;
}

.add-form{

    text-align: center;
    margin: 0 0 20px 0; /* gap */
}

.tab-content li{
    margin: 0 0 10px 0; /* gap */
    list-style:none;
}

.task-content2{

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 68px;
    font-size:12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

    width: 100%;
    background-color: #f1f1f1;
    height: 78%; /* Full height */
    /* border: 1px black groove; */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.delete-button{
    border: none;
    color:red;
}

.line-through {
    text-decoration: line-through;
}


/* !!! overflow with each list